.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #feffff;
  /* background-color: #3aafa9; */
  background-image: linear-gradient(#30908b, #3aafa9);
}

.App-body-text {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  color: #17252a;
  margin-top: 0;
}

.App-link {
  color: #feffff;
  /* font-weight: bold; */
  /* font-family: sans-serif; */
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.align-center {
  margin: auto;
  text-align: center;
}

.Outbreak-background {
  background: linear-gradient(to right, #25274d, #383A5D, #25274d);
}

.Outbreak {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2vw;
  margin-right: 2vw;
}

.Outbreak-text {
  margin-top: 0;
  padding-top: .5em;
  padding-bottom: 1em;
  font-size: calc(10px + 2vmin);
  color: #feffff;
}

.Outbreak-title {
  margin-top: 0;
  margin-left: .5em;
  margin-right: .5em;
  padding-top: 1em;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #feffff;
}

.Outbreak-table-container {
  margin: auto;
  margin-bottom: 2em;
}

.Outbreak-logo-wrapper {
  padding: 2em;
}

.Outbreak-link {
  color: #2e9cca;
}

.Outbreak-date-picker-wrapper {
  margin-bottom: .5em;
}

.Outbreak-total {
  font-size: 7em;
  margin: 0;
  padding: 0;
  min-height: 1.25em;
}

.Outbreak-map-container {
  max-width: 75vh;
  margin: auto;
}

.Outbreak-palette-selector-container {
  height: 1px;
}

 .Outbreak-palette-selector {
  position: relative;
  transform: translateY(-150%);
  width: 9em;
  padding-top: .5em;
  padding-bottom: .5em;
  /* background-color: #A0AFBC; */
} 

/* TODO: don't override this way */
.MuiSvgIcon-root {
  color: white;
}

.MuiSelect-icon {
  color: white !important;
}

.MuiFormLabel-filled {
  color: white !important;
}