.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3aafa9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #feffff;
}

.App-body-text {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  color: #17252A;
}

.App-link {
  color: #feffff;
  /* font-weight: bold; */
  /* font-family: sans-serif; */
}

