.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #feffff;
  /* background-color: #3aafa9; */
  background-image: linear-gradient(#30908b, #3aafa9);
}

.App-body-text {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  color: #17252a;
  margin-top: 0;
}

.App-link {
  color: #feffff;
  /* font-weight: bold; */
  /* font-family: sans-serif; */
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.align-center {
  margin: auto;
  text-align: center;
}

.Outbreak {
  /* background-color: #25274d; */
  /* background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%); */
  background: linear-gradient(to right, #25274d, #383A5D, #25274d);
}

.Outbreak-text {
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #feffff;
}

.Outbreak-table-container {
  margin: auto;
}

.Outbreak-logo-wrapper {
  padding: 2em;
}

.Outbreak-link {
  color: #2e9cca;
}