/* HSL */
$color1: hsla(196%, 29%, 13%, 1);
$color2: hsla(178%, 48%, 32%, 1);
$color3: hsla(177%, 50%, 46%, 1);
$color4: hsla(177%, 43%, 91%, 1);
$color5: hsla(180%, 100%, 100%, 1);

/* RGB */
$color1: rgba(23, 37, 42, 1);
$color2: rgba(43, 122, 120, 1);
$color3: rgba(58, 175, 169, 1);
$color4: rgba(222, 242, 241, 1);
$color5: rgba(254, 255, 255, 1);